.lates-title {
  margin-bottom: .8em;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 700;
  color: $brand-color;
  padding-left: 3%;
}

.module-container {
  margin-top: 2em;
  margin-bottom: 6em;
  &>div{
  }
  .module {
    max-width: 150px;
    min-width: 80px;
    width: 40%;
    margin: 0 auto;
    position: relative;

    .module-bg {
      width: 100%;
      padding: 8%;
      border-radius: 8px;
      margin: 0 auto;
      display: block;
    }

    .module-title {
      color: $brand-color;
      text-align: center;
      font-size: 1em;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0em;
    }

    .module-cover {
      
      z-index: 1;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      img {
        width: 100%;
        height: 100%;
        padding: 8%;
      }
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: $brand-color;
        opacity: .7;
        border-radius: 12%;
      }
      p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        z-index: 3;
        font-weight: bold;
      }
    }

    &:hover .module-cover{
      opacity: 1;
    }

    // .module-cover {
    //   border-radius: 8px;
    //   z-index: 1;
    //   background-color: $brand-color;
    //   color: #fff;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   justify-content: center;
    //   opacity: 0;
    //   transition: all .1s;
    //   font-size: 1.2em;
    //   font-weight: bold;

    //   p {
    //     margin: 0;
    //   }

    // }

    // &:hover {
    //   .module-cover {
    //     opacity: .8;
    //   }
    // }
  }
}