.resource-page {
    display: flex;
    height: calc(100vh - 146px);
    padding-bottom: 4em;
    box-sizing: border-box;
    font-size: 1em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: .5em 0 .2em;
    }

    .side_row {

        ol,
        ul {
            padding-left: 2em;

        }

        .hero {
            margin-bottom: 3em;
            background: transparent;

            .hero__content {
                padding: 0 4em 0 0;
            }

            align-items: flex-end;
        }
    }

    .sidebar {
        width: 15em;

        box-sizing: border-box;
        height: 100%;
        /* 可视区域的高度 */

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2em 0;

        .active {
            a {
                color: $brand-color;
            }
        }

        &>div {
            padding-right: 1em;
            max-height: 100%;
            overflow-y: auto;
            /* 如果内容过多，出现滚动条 */

        }
    }

    .side_row {
        padding-right: 1em;
        padding-left: 7em;
        flex: 1;
        height: 100%;
        overflow-y: auto;
        line-height: 2.5;
    }

    .resource-right-btn {
        position: fixed;
        bottom: 2.5em;
        right: 1.5em;
        z-index: 1;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background-color: $dark;
        color: $white;
        cursor: pointer;
        transition: all .25s ease;
        border-radius: 50%;
        transform: rotate(-90deg);
        z-index: 11;
        &.is-open-btn{
            transform: rotate(90deg);
        }
      
      }
}

@media(max-width: $desktop) {
    .top{
        display: none !important;
    }
    .resource-page {
        padding: 0;
        width: 100%;
        padding-left: 1em;
        .sidebar {
            border-radius: .5em;
            padding: 2em 0em 0em 2em;
            width: 18em;
            position: fixed;
            right: -20em;
            bottom: 2em;
            background: #000;
            transition: all .3s;
            z-index: 10;
            height: auto;
            max-height: 80vh;
            .sidebar_title{
                color: #fff;
            }
            &.is-open{
                right:1em; 
            }
        }

        .side_row {
            padding-left: 0;
            .hero .hero__content{
                padding: 0;
            }
        }
    }


}