.page-detail-container{
  max-width: 1172px;
  width: 100%;
  padding: 0 3em;
  margin: 2em auto 0;
  .post-content{
    padding: 0 6em;
    margin: 0 auto;
  }
  .post-nav{
    font-size: 1.25em;
    font-weight: bold;
    &>span{
      // padding-left: 2em;
      // background: url({{site.baseurl}}/images/icon_arrow_right.png) no-repeat left center;
      // &:nth-child(0){
      //   padding: 0;
      // }
    }
    a{
      color: $dark;
    }
    .post__tags-tag{
      color: $brand-color;
    }
    .icon{
      width: 1em;
      height: 1em;
      display: inline-block;
      background-size: 50% auto;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(.2em);
      margin: 0 .2em;
    }
  }
}
.post-title-box {
  padding: 3em 0;

  .post-title {
    margin-bottom: 1.4em;
    margin-top: .4em;
    max-width: 100%;
    font-size: 1.56em;
    line-height: 1.8;
  }

  .post__date {
    font-size: 1.25em;
    color: #D9D9D9;
    font-weight: 700;
    text-transform: capitalize;
  }

  // @media only screen and (max-width: $mobile) {
  //   padding: 40px 0;

  //   .post-title {
  //     margin: 10px 0;
  //     font-size: 47px;
  //     line-height: 53px;
  //   }
  // }
}

.post__info {
  display: flex;
  align-items: center;

  .post__author {
    margin-right: 10px;
    font-weight: 500;
    font-size: 1.15em;


    .author-name {
      color: $gray;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $gray;
      }
    }
  }

  .post__tags {
    .post__tags-tag {
      position: relative;
      padding-left: 15px;
      font-weight: 700;
      font-size: 25 px;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $dark;
      }
    }
  }

  .post__button {
    text-align: center;
    padding-top: 20px;
  }

  .read-paper-button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    border: 2px solid $dark;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
  }
}

.post-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  // background-color: $light-gray;
  // &:after {
  //   content: "";
  //   display: table;
  //   width: 100%;
  //   min-height: 300px;
  //   padding-top: 50%;
  // }
}

.post {
  margin: 80px auto;

  &.post-no-image {
    margin: 0 auto 80px;
  }

  // @media only screen and (max-width: $mobile) {
  //   margin: 40px auto;

  //   &.post-no-image {
  //     margin: 0 auto 40px;
  //   }
  // }

  img {
    margin: 30px 0;
  }
}

.post__content {
  margin-bottom: 40px;
  line-height: 2em;
}

.post__share {
  display: flex;

  .share__title {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .share__list {
    .share__item {
      display: inline-block;
      margin: 0 10px;

      a {
        font-size: 18px;
        color: $gray;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}

.post__navigation {
  display: flex;
  align-items: baseline;
  padding-bottom: 5em;
  justify-content: space-between;

  .prev,
  .next {
    width: 40%;
    max-width: 420px;

    &:last-child {
      padding-right: 0;
    }

    .post__nav__image {
      display: block;
      margin-bottom: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $light-gray;
      transition: .35s ease-in-out;

      &:hover {
        opacity: 0.9;
      }

      &:after {
        content: "";
        display: table;
        width: 100%;
        padding-bottom: 65%;
      }
    }

    .post__nav__title {
      margin-bottom: 1em;
      font-size: 1.25em;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;

      a {
        display: inline-block;
        max-width: 250px;
        padding: 0 10px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $dark;

        &:hover {
          color: $black;
        }
      }
    }
  }

  .prev {
    padding-right: 10px;
  }

  .next {
    padding-left: 10px;
  }

  .prev__excerpt,
  .next__excerpt {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  // @media only screen and (max-width: $tablet) {
  //   flex-wrap: wrap;

  //   .prev,
  //   .next {
  //     flex: 1 0 100%;
  //     padding: 0;
  //   }

  //   .next {
  //     margin-top: 40px;
  //   }
  // }

  // @media only screen and (max-width: $mobile) {
  //   margin-bottom: 40px;
  //   padding-bottom: 40px;

  //   .prev,
  //   .next {
  //     .post__nav__image {
  //       margin-bottom: 20px;
  //     }
  //   }
  // }
}

.comments {
  margin-bottom: 80px;

  // @media only screen and (max-width: $mobile) {
  //   margin-bottom: 40px;
  // }
}

 @media screen and (max-width: $tablet) {
  .page-detail-container{
    .post-content{
      padding: 0;
    }
    // width: 80%;
  }
}
@media screen and (max-width: $mobile) {
  .page-detail-container{
    padding: 0;
    .post-content{
      padding: 0;
    }
  }
}