.sidebar_title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: black;
}
.sidebar_title a {
    color: #333;
    &:hover {
        color: black;
    }
    &:active {
        color: black;
    }
    &:visited {
        color: black;
    }
    &:focus {
        color: black;
    }
}
.sidebar_subtitle {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 30px;
    color: gray;

    a {
        color: gray;
        &:hover {
            color: #333;
        }
        &:active {
            color: black;
        }
        &:visited {
            color: black;
        }
        &:focus {
            color: black;
        }
    }
}

.subtitle_group {
    margin:.2em 0 2em 0;
    li{
        padding: .35em 0;
    }
}