.sidebar_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: black;
}
.sidebar_title a {
    color: #333;
    &:hover {
        color: black;
    }
    &:active {
        color: black;
    }
    &:visited {
        color: black;
    }
    &:focus {
        color: black;
    }
}
.sidebar_subtitle {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 30px;
    color: #727272 ;

    a {
        color: #727272 ;
        &:hover {
            color: #333;
        }
        &:active {
            color: black;
        }
        &:visited {
            color: black;
        }
        &:focus {
            color: black;
        }
    }
}

.subtitle_group {
    margin:.4em 0 2em 1em;
    li{
        padding: .4em 0;
        list-style: none;
        &.level_3 {
            padding-left: 1.6em;
            font-size: .9em;
            a {
                font-weight: 600;
            }
        }
    }
}