.arhive-head {
  padding: 80px 0;
  margin-bottom: 40px;
  background: #f5f5f5;

  .archive-title {
    text-align: center;
    font-weight: normal;

    span {
      font-weight: 700;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}

.module-container {
  .post-nav {
    padding: 2.5em 6% 2em;
    font-size: 1.1em;
    font-weight: bold;

    &>span {
      // padding-left: 2em;
      // background: url({{site.baseurl}}/images/icon_arrow_right.png) no-repeat left center;
      // &:nth-child(0){
      //   padding: 0;
      // }
    }

    a {
      color: $dark;
    }

    .post__tags-tag {
      color: $brand-color;
    }

    .icon {
      width: 1em;
      height: 1em;
      display: inline-block;
      background-size: 50% auto;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(.2em);
      margin: 0 .2em;
    }
  }
}