.talk-container {
  padding: 2em 0 4em;
  box-sizing: border-box;

  img {
    border-radius: 2%;
    display: block;
    margin: 0 auto;
  }

  video {
    width: 100%;
    border-radius: 2%;
  }

  .talk-intro {
    display: flex;
    flex-direction: row;
    padding: 0 7%;

    &>h2 {
      width: 13em;
      font-size: 2.5em;
      color: $brand-color;
      line-height: 1.625;
    }

    .hero__subtitle {
      flex: 1;
      font-size: 1.125em;
      padding-left: 6em;
      padding-right: 3em;
      line-height: 2;
      margin-top: 0;

      p {
        margin-bottom: .6em;
      }
    }

  }

  .talks-content {
    margin-top: 2em;
    display: flex;
    flex-direction: row;

    .left {
      width: 65%;
      padding: 0 2em 0 1em;
      box-sizing: border-box;
      line-height: 1.8;

      .title {
        // font-size: 1.125em;
        margin: 1.5em 0 1.2em;
        line-height: 1.8;
      }
      p,h1,h2,h3,h4,h5,h6{
        margin: 2em 0 1em;
        &:nth-child(1){
          margin-top: 1em;
        }
      }
      img{
        margin: 0 auto !important;
        display: block;
      }

    }

    .right {
      flex: 1;

      ul {
        height: calc(100vh - 146px - 16em);
        min-height: 300px;
        box-sizing: border-box;
        padding: 0 1em 2em;
        overflow-y: auto;
        list-style: none;

        li {
          cursor: pointer;
          list-style: none;
          display: flex;
          padding: .5em;
          border-radius: 4px;
          margin-bottom: .2em;

          &.active {
            background: #0065FF;

            .talk-content {
              color: #fff;

              time {
                color: #fff;
              }

              h4 {
                color: #fff;
              }

            }
          }

          &:hover {
            background: rgba(255, 208, 0, 1);

            .talk-content {
              h4 {
                color: $dark;
              }

              time {
                color: #fff;
              }
            }
          }

          .talk-image {
            width: 45%;
            position: relative;
            padding-bottom: 25%;
            &>div{
              position: absolute !important;
              width: 100%;
              height: 100%;
              left: 0;
              top:0;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .cover {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background-color: rgba(12, 11, 11, 0.39);
              background-size: 1.4em;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          .talk-content {
            padding: 0 .4em 0 1em;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
              color: $dark;
              font-size: .95em;
              padding-bottom: 1em;
            }

            time {
              font-size: .8em;
              color: #747474;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  ul,
  ol {
    padding-left: 2em;
  }
}

@media(max-width: $desktop) {
  .talk-container .talk-intro{
    
    flex-wrap: wrap;
    &>h2{
      width: 100% !important;
    }
    .hero__subtitle{
      flex: auto;
      width: 100%;
      padding: 1em 0 0;
    }
  }
  .talk-container .talks-content{
    flex-direction: column;
    .left{
      width: 100%;
    }
    .right{
      margin-top: 3em;
      ul{
        height: auto;
      }
    }
  }
}