.background-spline[data-v-d1fa5b17]{position:fixed;top:0;right:0;bottom:0;left:0;z-index:-1;pointer-events:none}.controls[data-v-d1fa5b17]{position:fixed;bottom:20px;left:20px;z-index:10}button[data-v-d1fa5b17]{margin-right:8px}
