<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin header -->
      <header class="header">

        <div class="logo">
          <a class="logo__link" href="{{site.baseurl}}/">
          {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}/images/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">

          <div class="main-nav__box">
            <div class="nav-icon__close">
              <i class="ion ion-ios-close-circle-outline"></i>
            </div>

            <div class="nav__title">Menu</div>

            <ul class="nav__list list-reset">
              <li class="nav__item{% if page.url == '/index.html' %} active{% endif %}{% if page.url == '/' %} active{% endif %}">
                <a href="{{site.baseurl}}/" class="nav__link">Home</a>
                
              </li>
              {% assign sorted_pages = site.pages | sort: 'nav_order' %}
              {% for node in sorted_pages %}
                <!-- {% unless node.name == 'tags.html' or node.name == '404.html' %} -->
                {% if node.autogen == null %}
                  {% if node.title %}
                  <li class="nav__item{% if page.url contains node.url %} active{% endif %}">
                    {% if node.permalink contains '/papers/' %}
                      {% assign url = '/papers/' %} 
                    {% else %}
                      {% assign url = node.url %}
                    {% endif %}
                    <a href="{{ url | prepend: site.baseurl }}" class="nav__link">{{ node.title }}</a>
                    <span style="display: none;">{{node.permalink}}</span>
                  </li>
                  {% endif %}
                {% endif %}
                <!-- {% endunless %} -->
              {% endfor %}
              <li class="nav__item nav__item_email">
                <a class="nav__link" style="background-image: url({{site.baseurl}}/images/email.png)"><i>email</i></a>
                <span class="tip">Copy: <span class="email_text">{{ site.data.settings.project.email }}</span></span>
              </li>
            </ul>

          </div>
        </nav>

        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
          
        </div>

        <div class="header__overlay"></div>
      </header>
      <!-- end header -->
    </div>
  </div>
</div>