<div class="module">
    <img class="module-bg" src="{{ site.baseurl }}/images/{{ module.image }}" alt="{{ module.title }}" style="width: 180px; height: 180px; margin-bottom: 20px; align-items: center;">
    <h4 class="module-title" style="padding-left: 45px;">{{ module.title }}</h4>
    <!-- <div class="module-bg" style="background-image: url({{site.baseurl}}/images/{{module.image}})"></div> -->
    <!-- <div class="module-content">
        <h4 class="module-title">{{ module.title }}</h4>
        <p class="module-description">{{ module.description }}</p>
    </div> -->
</div>
