.hero {
  background: #Fafafa;

  .last-item {
    display: flex;
  }

  .hero__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    padding: 3em 2em 3em 15%;

    .hreo_name {
      line-height: 1.6;
      font-size: 2.3em;
      color: $brand-color;

      &.hreo_name_index {
        font-size: 2.8em;
      }
    }

    .hero__title {
      margin-top: .2em;
      font-size: 2.25em;
      color: $brand-color-title;
    }

    .hero__subtitle {
      margin-top: 1.6em;
      font-size: 1.125em;
      line-height: 2em;
    }

    .hero_email {
      font-size: 1.125em;
      margin-top: 2em;
    }

    .hero__social {
      display: flex;
    }

    .hero__social-title {
      font-weight: 700;
    }

    .btn {
      margin-top: 2em;
      cursor: pointer;
      font-family: "Segoe Pro";
      font-size: 1.5em;
      display: inline-block;
      padding: .36em .65em;
      box-sizing: border-box;
      width: 8.2em;
      border: 2px solid #1093ff;
      color: #1093FF;
      border-radius: 4px;
      // font-weight: 600;
      margin-right: 1.67em;
      background: url(/images/arrow-right-white.png) no-repeat 6.6em center;
      background-size: .6em;
      letter-spacing: 0;
      transition: all .2s;
      &:hover{
        background-position: 6.8em center;
      }

      &.github-btn {
        background: #50B8FF url(/images/arrow-right.png) no-repeat 6.1em center;
        background-size: .6em;
        color: #FCFBFB;
        &:hover{
          background-position: 6.3em center;
        }

      }
    }

  }

  .hero__image {
    img {
      // box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }
  }

  @media only screen and (max-width: 1900px) {
    .hero__content {
      .hreo_name {
        font-size: 1.9em;

        &.hreo_name_index {
          font-size: 2.6em;
        }
      }

      .hero__title {
        font-size: 1.7em;
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    .hero__content {
      .hreo_name {
        font-size: 1.7em;

        &.hreo_name_index {
          font-size: 2.2em;
        }
      }

      .hero__title {
        font-size: 1.6em;
      }
    }
  }

  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 2em 0;

      .hreo_name {
        font-size: 1.5em;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .last-item {
      order: 1;
    }
  }


}