// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 0px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: rgba(16, 147, 255, 1);
$brand-color-title: rgba(80, 184, 255, 1);
$dark: rgba(47, 47, 47, 1);
$gray: #bbbbbb;
$light-gray: #e6eef0;
$white: #ffffff;
$black: #000000;

// Background Colors
$background-color: $white;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $dark;

// Links
$link-color: $brand-color;
$link-color-hover: darken($dark, 15%);

// Button
$button-color: $white;
$button-background-color: $brand-color;

// Border
$border-color: $light-gray;


// *****************
// Typography
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: "Microsoft YaHei",'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.6;

// Headings
$heading-font-weight: 700;
$heading-font-family: "Microsoft YaHei",'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  1.25em;
$font-size-h2:  1.75em;
$font-size-h3:  1.5em;
$font-size-h4:  1.25em;
$font-size-h5:  1.125em;
$font-size-h6:  1em;

$heading-line-height: 1.2;