<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="body-box" style="opacity: 0;">
    {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
    {% endif %}

    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content" style="min-height: calc(100vh - 146px)">
      {{ content }}
    </main>
    <!-- end content -->

    <div class="top ion ion-ios-arrow-up" title="Top"></div>

    {% include search.html %}

    {% include footer.html %}

    {% include javascripts.html %}


  </div>
  {% include login.html %}
</body>

</html>