---
layout: default
---
<div class="container talk-container">
    {% assign sorted_talks = site.talks | sort:"date" | reverse  %}
    {% assign active_index = 1 %}
    {% if page.url == "/talks" %}
        {% assign talk_home = true %}
    {% else %}
        {% assign talk_home = false %}
    {% endif %}
    <div class="hero" style="background: transparent;">
        <div class="talk-intro hero__content">
            <h2 class="hreo_name">{{site.data.settings.TalksPage.name}}</h2>
            <div class="hero__subtitle">
                {{site.data.settings.TalksPage.description}}
            </div>
        </div>
    </div>
    <div class="talks-content">
        <div class="left talk-detail" id="talks-detail-list">
            {% if sorted_talks.size > 0 %}
            
                    {% for talk in sorted_talks %}
                        {% if page.url == "/talks" %}
                            {% if active_index == forloop.index %}
                                {% assign display_value = 'block' %}
                            {% else %}
                                {% assign display_value = 'none' %}
                            {% endif %}
                        {% else %}
                        {% if talk.url == page.url %}
                            {% assign display_value = 'block' %}
                        {% else %}
                            {% assign display_value = 'none' %}
                        {% endif %}
                        {% endif %}
                        <div class="talks_{{forloop.index}}" style="display: {{display_value}}">
                            <div class="img_container">
                                {% if talk.video %}
                                <video controls src="{{site.baseurl}}/{{talk.video}}" poster="{{site.baseurl}}/{{talk.image}}" x5-video-player-type="h5" x-webkit-airplay="allow" webkit-playsinline="true" x5-playsinline playsinline preload="auto" controlslist="nodownload"></video>
                                {% else %}
                                <img src="{{site.baseurl}}/{{talk.image}}" alt="">
                                {% endif %}
                            </div>
                            <h3 class="title">{{talk.title}}</h3>
                            <div>{{talk.content}}</div>
                            {% if talk.talk_url %}
                            <div>
                                <a target="_blank" style="color: #0c76ce;" href="{{talk.talk_url}}">Article details</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
            {% endif %}

        </div>
        <div class="right talk-list">
            <ul id="talks-list-btns">
                {% for talk in sorted_talks %}
                <li tabindex=0 class='
                    {% if page.url == "/talks" %}
                        {% if forloop.index == active_index %}
                            active
                        {% endif %}
                    {% else %}
                        {% if talk.url == page.url %}
                            active
                        {% endif %}
                    {% endif %}
                    '
                >

                    <div class="talk-image">
                        <div>
                            <img src="{{site.baseurl}}/{{talk.image}}" alt="">
                            {% if talk.video %}
                            <div class="cover" style="background-image: url({{site.baseurl}}/images/play_icon.png)";"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="talk-content">
                        <!-- <a href="">
                            <a href="{{ site.baseurl }}/talk{{ talk.url | downcase | replace: " ", "-" }}" class="article__tag"><h4>{{talk.title}}</h4></a>
                        </a> -->
                        <span class="article__tag"><h4>{{talk.title}}</h4></span>
                        <span><time datetime="{{ talk.date | date_to_xmlschema }}">{% assign date_format =
                                site.minima.date_format | default: "%B %-d, %Y" %}{{ talk.date | date: date_format
                                }}</time>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>