---
layout: default
---
<div class="container teams-container">
    <div class="hero" style="background: transparent;padding-top: 2em;">
        <div class="hero__content" style="padding: 0;text-align: center;">
            <h1 class="hreo_name">Introducing Our Team!</h1>
        </div>
    </div>
    <div class="content" style="padding-top: 1em;">
        <!-- <h2 class="team-head">Employees</h2> -->
        <div class="team-head">
            <!-- <h2 style="background-image: url({{site.baseurl}}/images/employees.png)">Employees</h2> -->
        </div>

        <div class="team-members">
            {% for member in page.employees %}
            <div class="one-member" style="align-items: center;">
                {% if member.photo %}
                <div class="member__image">
                    <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}">
                </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- <h2 class="team-head">Collaborators</h2> -->
        <div class="team-head">
            <h2 style="background-image: url({{site.baseurl}}/images/Collaborators.png)">Collaborators</h2>
        </div>

        <div class="team-members" style="align-items: center;">
            {% for member in page.collaborators %}
            <div class="one-member" style="align-items: center;">
                {% if member.photo %}
                <div class="member__image">
                    <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}">
                </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- <div class="row"> -->
        <!-- <h2 class="team-head">Interns</h2> -->
        <div class="team-head">
            <h2 style="background-image: url({{site.baseurl}}/images/Interns.png)">Interns</h2>
        </div>

        <div class="team-members">
            {% for member in page.interns %}
            <div class="one-member">
                {% if member.photo %}
                <div class="member__image">
                    <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}">
                </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <!-- <p style="color: ">{{ member.workIntro }},</p> -->
                    <p class="member_intern_content">
                        {% if member.workIntro=='Algorithm Research' %}
                        <span style="color: #8d7200">{{ member.workIntro }},</span><br>
                        {% else %}
                        <span style="color:#a66800">{{ member.workIntro }},</span>
                        {% endif %}
                        <span>{{ member.InternshipTime }}</span>
                    </p>
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- </div> -->
    </div>
</div>