---
layout: default
---
<div class="container teams-container">
    <p class="title">Introducing Our Dynamic Team!</p>
    <!-- <h2 class="team-head">Employees</h2> -->
    <div class="team-head">
        <h2 style="background-image: url({{site.baseurl}}/images/Employees.png)">Employees</h2>
    </div>
    
    <div class="team-members">
        {% for member in page.employees %}
            <div class="one-member">
                {% if member.photo %}
                    <div class="member__image">
                        <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}" >
                    </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- <h2 class="team-head">Collaborators</h2> -->
    <div class="team-head">
        <h2 style="background-image: url({{site.baseurl}}/images/Collaborators.png)">Collaborators</h2>
    </div>
    
    <div class="team-members">
        {% for member in page.collaborators %}
            <div class="one-member">
                {% if member.photo %}
                    <div class="member__image">
                        <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}">
                    </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- <div class="row"> -->
    <!-- <h2 class="team-head">Interns</h2> -->
    <div class="team-head">
        <h2 style="background-image: url({{site.baseurl}}/images/Interns.png)">Interns</h2>
    </div>
    
    <div class="team-members">
        {% for member in page.interns %}
            <div class="one-member">
                {% if member.photo %}
                    <div class="member__image">
                        <img src="{{ site.baseurl }}/images/teams/{{ member.photo }}" alt="{{ member.name }}">
                    </div>
                {% endif %}
                <div class="member-info">
                    <h3 class="member__name">{{ member.name }}</h3>
                    <p class="member__position">{{ member.position }}</p>
                    <!-- <a href="mailto:{{ member.email }}" class="member__email">{{ member.email }}</a> -->
                    <p class="member__institution">{{ member.institution }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- </div> -->
</div>