.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.compare-model-list {
  ul {
    margin-top: 1.2em;
    display: flex;
    gap: 0.75em;

    li.model-li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 11.25em;
      min-height: 5.3125em;
      padding: 1.125em .8em;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 0.75em;
      text-align: center;
      border: 1px solid #4992ff;
      position: relative;

      .close {
        cursor: pointer;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        background: url(@/assets/images/close-comparison.svg) no-repeat;
        background-size: contain;
        vertical-align: text-bottom;
        position: absolute;
        right: 0.2em;
        top: 0.2em;
      }

      .name {
        margin-bottom: 0.5em;
        text-align: left;
        font-size: 1em;
        color: #000;
        font-weight: 600;
      }

      .top-item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dev {
          // width: 6em;
          flex: 1;
          font-size: 0.75em;
          line-height: 1.5em;
          padding: 0 0.8em;
          text-align: center;
        }

        .date {
          font-size: 0.75em;
          opacity: 0.8;
          line-height: 1.5em;
        }
      }

      .type-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        background: url(@/assets/images/type-icon.svg) no-repeat;
        background-size: contain;
        vertical-align: text-bottom;
      }
    }

    .add-model {
      padding: 0 !important;
      width: 10em;
      min-height: 3.5em;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      align-items: center;
      border: 3px dashed rgba(194, 194, 194, 1) !important;
      border-radius: 0.75em;
      color: #717171;

      .add-model-svg {
        width: 3em;
        height: 3em;
        transform: translateY(-0.2em);
      }
    }

    .btn-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .compare-btn {
        width: 100%;
        height: 2.5em;
        font-size: 1.25em;
        text-transform: capitalize;
      }

      .remove-all-btn {
        text-decoration: underline;
        margin-top: 0.7em;
        font-size: 1.25em;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
  }

  .max-num-tip {
    color: #666;
    margin-top: 1em;
    font-size: 1em;
  }
}



//cultural alignment select box
.select-box.cultural-alignment-select-box {
  .select-box-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75em;

    &>span.label {
      width: 4.625em;
      text-align: right;
      color: rgba(114, 114, 114, 1);
    }

    &>div {
      flex: 1;
      overflow: hidden;

      .el-select {
        width: 100%;
      }
    }
  }
}

// cultural el-select 样式重置
.cultural-alignment-el-select {
  --el-text-color-regular: #000;

  .el-select__wrapper {
    box-shadow: none !important;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 6px;
    padding: 0.75em;
    font-size: 1.25em;
    min-height: 2.4em;

    .el-select__selected-item {
      line-height: 1.2;
    }

    .el-select__placeholder {
      // color: #000;
    }
  }

  &.Question-select {
    .el-select__wrapper {
      border: none;
      background-color: rgba(204, 240, 252, 1);
      min-height: 4em;

      .el-select__selected-item {
        overflow: visible;
        white-space: normal;
      }

      .el-select__placeholder {
        position: static;
        transform: translateY(0);
      }
    }
  }
}

// cultural el-select option 样式重置
.select-options-cultural {
  min-width: 24.5rem !important;
  max-width: 35rem;
  box-shadow: none !important;
  border: 2px solid rgba(5, 64, 140, 1) !important;
  border-radius: 1rem !important;
  font-size: 1rem;

  .el-select-dropdown__wrap {
    max-height: 35rem;

    .el-select-dropdown__list {
      padding: .75em 0;

      .el-select-dropdown__item {
        font-size: 1.25em;
        color: #000 !important;
        padding: .3em 1.2em;
        font-weight: normal !important;
        height: auto;
        line-height: 1.2;
        margin-bottom: .3em;
        transition: all .3s;

        &:last-child {
          margin-bottom: 0;
        }

        &.is-hovering {

          background-color: rgba(204, 240, 252, 1) !important;
        }

        .option-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 0 2em;

          .check-span {
            min-height: 5px;
            width: 1.5rem;
            font-size: 1.5rem;
            display: inline-block;
            color: rgba(5, 64, 140, 1);
          }
        }

      }

      .el-select-group__title {
        font-size: 1.25em;
        font-weight: bold;
        color: #000;
        padding: .5em 0.6em;
        line-height: 1.2
      }


    }
  }

  // el-select question样式
  &.Question-select-options {
    .el-select-dropdown__wrap .el-select-dropdown__list {
      .el-select-dropdown__item {
        padding: .6em .9em;
        white-space: normal;
        overflow: visible;
        margin: 0 !important;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border: 0;
        }
      }
    }
  }

  &.topic-select-options {
    .el-select-dropdown__wrap .el-select-dropdown__list {
      .el-select-dropdown__item {
        margin-bottom: 0;
      }
    }
  }
}

// select中country
.country-p {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  gap: 0 .5em;

  .dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #ccc;
  }
}

.model-select-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 .75em;

  .type {
    border: 1px solid rgba(61, 61, 61, 1);
    border-radius: 4px;
    font-size: .75rem;
    font-weight: 700;
    padding: .3em .5em;
  }
}